<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block stylesheets %}
        {% load bootstrap4 %}
        {% bootstrap_css %}
    {% endblock %}
</head>
<body>

<!-- Nav web site part -->
{% include 'recipes/partials/nav.html' %}

<div class="container" style="margin-top: 20px;">

    {% block content %}

    {% endblock %}
</div>

{% block javascripts %}
    {% bootstrap_javascript jquery='full' %}
{% endblock %}
</body>