{% extends 'recipes/base.html' %}

{% block title %}
    Recipes
{% endblock %}

{% block content %}

    <h3>Recipes list</h3>
    {% for recipe in recipes %}
        <a href="{% url 'recipe-detail' recipe.id %}">
            <h5>{{ recipe.title}}</h5>
            <p>{{ recipe.description }}</p>
        </a>
    {% endfor %}

    <nav aria-label="Page navigation example">
     <ul class="pagination justify-content-start">
          <span class="current">
                Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}.
            </span>
     </ul>
     <ul class="pagination justify-content-end">
        {% if recipes.has_previous %}
         <li class="page-item disabled">
          <a href="?page={{ recipes.previous_page_number }}">previous</a>
        </li>
        {% endif %}
        {% if contacts.has_next %}
                <a class="page-link" href="?page={{ recipes.next_page_number }}">next</a>
                <a  class="page-link" href="?page={{ recipes.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </li>
  </ul>
</nav>

{% endblock %}