{% extends 'recipes/base.html' %}

{% block title %}
    Recipes
{% endblock %}

{% block content %}

    <h3>Recipes list</h3>
    {% for recipe in recipes %}
        <a href="{% url 'recipe-detail' recipe.id %}">
            <h5>{{ recipe.title}}</h5>
            <p>{{ recipe.description }}</p>
        </a>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if recipes.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ recipes.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}.
            </span>

            {% if contacts.has_next %}
                <a href="?page={{ recipes.next_page_number }}">next</a>
                <a href="?page={{ recipes.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>


{% endblock %}