{% load i18n %}
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">

    <a class="navbar-brand" href="{% url 'recipes:home' %}">CanICook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">


        <ul class="navbar-nav mr-auto">
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'recipes:recipe-add-or-update' %}">{% blocktrans %}Add Recipe{% endblocktrans %}</a></li>
            {% endif %}
        </ul>

        <form method="GET" action="{% url 'recipes:search' %}" class="form-inline my-2 my-lg-0 px-5">

            <input class="form-control mr-sm-2" name="search" value="{{ request.GET.search }}" type="search" placeholder="{% blocktrans %}Search your recipes{% endblocktrans %}" aria-label="Search">
            
            <button class="btn btn-outline-info my-2 my-sm-0" type="submit">{% blocktrans %}Search{% endblocktrans %}</button>

        </form>

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Search+
</button>

        <ul class="navbar-nav mr-right">
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'recipes:account' %}">{% blocktrans %}My account{% endblocktrans %}</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'recipes:logout' %}">{% blocktrans %}Logout{% endblocktrans %}</a></li>
            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'recipes:login' %}">{% blocktrans %}Login{% endblocktrans %}</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'recipes:signup' %}">{% blocktrans %}Sign up{% endblocktrans %}</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
