{% load i18n %}
<div class="my-3 p-3 bg-white rounded box-shadow">
    <h3 class="border-bottom border-gray pb-2 mb-0">{% blocktrans %}Recipes steps{% endblocktrans %}</h3>

    {% for step in recipe.steps.all %}

        <div style="padding-top: 5px;">

            {% if user.is_authenticated and user == recipe.user %}
                <a href="{% url 'recipes:recipe-delete-step' step_id=step.id %}">
                    <button class="btn btn-outline-danger" style="float: right;">
                        Delete
                    </button>
                </a>
            {% endif %}

            <h5><strong>{% blocktrans %}Step{% endblocktrans %}{{ forloop.counter }}</strong></h5>


            {% if user.is_authenticated and user == recipe.user %}
                <form method="post" action="{% url 'recipes:recipe-update-step' %}">
                    <div class="form-row">
                        <div class="col-8">

                            {% csrf_token %}
                            <textarea cols="5" name="description" class="form-control">{{ step.description }}</textarea>
                            <input type="hidden" name="step_id" class="form-control"
                                   value="{{ step.id }}">
                        </div>
                        <div class="col-4">
                            <button class="btn btn-outline-primary">Update</button>
                        </div>
                    </div>
                </form>
            {% else %}
                <p>{{ step.description }}</p>
            {% endif %}

            {% if not forloop.last %}
                <hr/>
            {% endif %}

        </div>
    {% endfor %}
</div>