{% load i18n %}

<div class="row">
    <div class="col-4">

        {% if selected_user.profile.avatar %}
            <img src="/{{ selected_user.profile.avatar }}" style="height: 150px; width: 150px; border-radius: 5px;"
                 alt="{{ selected_user.username }}_avatar">
        {% else %}
            <img src="/media/avatars/default_avatar.png" style="height: 150px; width: 150px; border-radius: 5px;"
                 alt="{{ selected_user.username }}_avatar">
        {% endif %}
        <p>
            <strong>{% blocktrans %}Country : {% endblocktrans %}</strong>{{ selected_user.profile.country }}
            <img src="{{ user.profile.country_flag }}" style="height: 18px; width: 22px; border-radius: 3px"
                 alt="{{ user.profile.country }}_flag">
        </p>
        {% if selected_user == user %}
            <p>
                <a href="{% url "users:change-password" %}">{% blocktrans %}Update my password{% endblocktrans %}</a>
            </p>
        {% endif %}
    </div>
    <div class="col-8">
        <h5>{% blocktrans %}Profile of {% endblocktrans %}<strong>{{ selected_user.username }}</strong></h5>
        <hr/>
        <p><strong>{% blocktrans %}Firstname :{% endblocktrans %} </strong> {{ selected_user.first_name }}</p>
        <p><strong>{% blocktrans %}Lastname : {% endblocktrans %}</strong> {{ selected_user.last_name }}</p>
        <p><strong>{% blocktrans %}Age : {% endblocktrans %}</strong> {{ selected_user.profile.get_age }}</p>
        <p><strong>{% blocktrans %}Mail : {% endblocktrans %}</strong> {{ selected_user.email }}</p>
        <p><strong>{% blocktrans %}Mean mark obtained : {% endblocktrans %}</strong>
        <span class="show-mean-mark-recipe" data-rating="{{ mean_of_marks_user }}"></span>

        {% if selected_user.recipes.all.count > 1 %}
            ({{ selected_user.recipes.all.count }} recipes created)
        {% else %}
            ({{ selected_user.recipes.all.count }} recipe created)
        {% endif%}
        </p>
    </div>
</div>
