{% extends 'recipes/base.html' %}
{% load  staticfiles %}
{% load bootstrap4 %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/dropzone.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/basic.min.css" %}">
{% endblock %}

{% block title %}
    Add recipe
{% endblock %}

{% block content %}

    <h2>Add new recipe</h2>

    <form method="post">
        {% csrf_token %}

        {% bootstrap_form recipe_form %}
        {% buttons %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Validate recipe</button>
            </div>
        {% endbuttons %}
    </form>

{% endblock %}

{% block javascripts %}

    {{ block.super }}
    <script type="text/javascript" src="{% static "js/dropzone.js" %}"></script>
    <script type="text/javascript" src="{% static "js/dropzone-amd-module.js" %}"></script>

    <!-- TODO @tcaron : always necessary ? -->
    <script>
        $(document).ready(function () {
            Dropzone.autoDiscover = false;
            $("#dZUpload").dropzone({
                url: "/ulpoad",
                addRemoveLinks: true,
                success: function (file, response) {
                    var imgName = response;
                    file.previewElement.classList.add("dz-success");
                    console.log("Successfully uploaded :" + imgName);
                },
                error: function (file, response) {
                    file.previewElement.classList.add("dz-error");
                }
            });
        });
    </script>

{% endblock %}