{% extends 'recipes/base.html' %}
{% load  staticfiles %}
{% load bootstrap4 %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/dropzone.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/basic.min.css" %}">
{% endblock %}
{% load i18n %}
{% block title %}
    {% if recipe  %}{{ recipe.title }} {% blocktrans %}Update{% endblocktrans %}{% else  %}{% blocktrans %}Add recipe{% endblocktrans %}{% endif %}
{% endblock %}

{% block content %}

    <h2>{% if recipe %}{{ recipe.title }} {% blocktrans %}Update{% endblocktrans %}{% else  %}{% blocktrans %}Add Recipe{% endblocktrans %}{% endif %}</h2>
    <form method="post" {% if recipe %}action="{% url "recipes:recipe-update" recipe.id %}"{% endif %}>
        {% csrf_token %}

        {% bootstrap_form recipe_form %}
        {% if recipe %}
            <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
        {% endif  %}
        {% buttons %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">{% blocktrans %}Validate Recipe{% endblocktrans %}</button>
            </div>
        {% endbuttons %}
    </form>

{% endblock %}

{% block javascripts %}
    {{ block.super }}
{% endblock %}