{% extends 'recipes/base.html' %}
{% load  staticfiles %}
{% load bootstrap4 %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/dropzone.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/basic.min.css" %}">
{% endblock %}

{% block title %}
    {% if recipe  %}{{ recipe.title }} Update{% else  %}Add recipe{% endif %}
{% endblock %}

{% block content %}

    <h2>{% if recipe %}{{ recipe.title }} Update{% else  %}Add Recipe{% endif %}</h2>
    {% if recipe %}
    {% for type in recipe.recipe_types.all %}
        {{ type }}
    {% endfor %}
    {% endif  %}
    <form method="post">
        {% csrf_token %}

        {% bootstrap_form recipe_form %}
        {% buttons %}
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Validate recipe</button>
            </div>
        {% endbuttons %}
    </form>

{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script>
        $(document).ready(function () {

        });
    </script>
{% endblock %}