{% extends 'recipes/base.html' %}

{% load staticfiles %}
{% load bootstrap4 %}

{% block stylesheets %}

    {{ block.super }}

    <link rel="stylesheet" type="text/css" href="{% static "css/dropzone.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/basic.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/star-rating-svg.css" %}">
    <style>
        .dz-image img {
            width: 100%;
            height: 100%;
        }
    </style>
{% endblock %}
{% load i18n %}
{% block title %}
    {{ recipe.title }}
{% endblock %}

{% block container %}
    <div class="container-fluid" style="margin-top: 20px;">
{% endblock %}

{% block content %}
    <h2>{% blocktrans %}Manage recipe :{% endblocktrans %} {{ recipe.title }}</h2>
    <hr/>

    <form method="post" action="{% url 'recipes:recipe-publish-state' %}">
        {% csrf_token %}
        <input type="hidden" name="recipe_slug" value="{{ recipe.slug }}">
        {% buttons %}
            {% if recipe.published %}
                <button type="submit" class="btn btn-warning">{% blocktrans %}Unpublish recipe{% endblocktrans %}</button>
            {% else %}
                <button type="submit" class="btn btn-primary">{% blocktrans %}Publish recipe{% endblocktrans %}</button>
            {% endif %}
        {% endbuttons %}
    </form>

    <form method="post" action="{% url 'recipes:recipe-add-or-update' %}">
        {% csrf_token %}
        <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
        {% buttons %}
            <button type="submit" class="btn btn-warning">{% blocktrans %}Update main information{% endblocktrans %}</button>
        {% endbuttons %}
    </form>

    <!-- Part 1 : Management of ingredients recipe-->
    <div>

        <h4>{% blocktrans %}Manage ingredients{% endblocktrans %}</h4>

        <hr/>

        <div class="row">
            <div class="col-md-8">
                <h5>{% blocktrans %}Add new ingredient{% endblocktrans %}</h5>

                <form method="post" id="recipeIngredientForm"
                      data-ingredients-url="{% url 'recipes:recipe-ingredients-of-family' %}"
                      data-units-url="{% url 'recipes:recipe-unit-of-ingredient' %}"
                      novalidate>
                    {% csrf_token %}
                    {% bootstrap_form ingredient_form %}
                    {% buttons %}
                        <button type="submit" name="add_ingredient" class="btn btn-primary">{% blocktrans %}Submit{% endblocktrans %}</button>
                    {% endbuttons %}
                </form>

            </div>
            <div class="col-md-4">
                {% include 'recipes/partials/recipes/_recipes_ingredients_list.html' %}
            </div>
        </div>
    </div>

    <hr/>

    <!-- Part 2 : Management of medias recipe-->
    <div>

        <h4>{% blocktrans %}Manage medias of recipe{% endblocktrans %}</h4>
        <h3>Manage pictures</h3>
        <form id="dz" method="post" enctype="multipart/form-data" class="dropzone">
            {% csrf_token %}
            <div class="fallback">
                {{ image_form }}
            </div>
        </form>
        <h3>{% blocktrans %}Manage video{% endblocktrans %}</h3>
        <form id="video" method="post" action="{% url "recipes:recipe-video-upload" recipe.slug %}" name="video">
            {% csrf_token %}
            {% bootstrap_form video_form %}
            {% buttons %}
                <button type="submit" name="submit-video" class="btn btn-primary">{% blocktrans %}Submit{% endblocktrans %}</button>
            {% endbuttons %}
        </form>
    </div>

    <hr/>

    <!-- Part 3 : Management of steps recipe-->
    <div>

        <div class="row">

            <div class="col-8">
                <h3>{% blocktrans %}Manage steps{% endblocktrans %}</h3>

                <form method="post" action="">
                    {% csrf_token %}
                    {% bootstrap_form step_form %}
                    {% buttons %}
                        <button type="submit" name="add_step" class="btn btn-primary">{% blocktrans %}Add step{% endblocktrans %}</button>
                    {% endbuttons %}
                </form>

            </div>

            <div class="col-4">
                {% include 'recipes/partials/recipes/_recipes_step_list.html' %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    {{ block.super }}

    <script type="text/javascript" src="{% static "js/dropzone.js" %}"></script>

    <!-- Manage media of recipe script -->
    <script type="text/javascript">
        Dropzone.autoDiscover = false;
        var myDropzone = new Dropzone("form#dz", {
            maxFiles: 5,
            paramName: 'file',
            uploadMultiple: true,
            // autoProcessQueue: false,
            addRemoveLinks: true,
            url: "{% url "recipes:recipe-media-upload" recipe.slug %}",

            init: function () {
                // var submitButton = document.querySelector("#submit-all");
                myDropzone = this;
                {% for img in recipe.images.all %}
                    var mockFile = {name: "{{ img.image }}", size: {{ img.image.size }}};
                    myDropzone.options.addedfile.call(myDropzone, mockFile);
                    myDropzone.options.thumbnail.call(myDropzone, mockFile, "{% url 'recipes:home' %}{{ img.image }}");
                {% endfor %}
                // submitButton.addEventListener("click", function () {
                //    myDropzone.processQueue();
                // });
                this.on("success", function (file, serverResponse) {

                    //  var fileuploded = file.previewElement.querySelector("[data-dz-name]");
                    //  fileuploded.innerHTML = serverResponse.newfilename;

                });
            },

            removedfile: function (file) {
                var name = file.name;
                $.ajax({
                    url: "{% url "recipes:recipe-media-delete" recipe.slug  %}",
                    data: "img=" + name,
                    dataType: 'json'
                });
                var _ref;
                return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
            }
        });

    </script>

    <!-- Manage ingredient JS script -->
    <script type="text/javascript">
        $(document).ready(function () {

            // Ajax callback function on select change event for ingredient units
            var ingredient_units_callback = function () {
                let url = $("#recipeIngredientForm").attr("data-units-url");
                let ingredientId = $(this).val();

                $.ajax({
                    url: url,
                    data: {
                        'ingredient_id': ingredientId
                    },
                    success: function (data) {
                        $("#id_unit_measure").html(data);
                    }
                });
            };

            // Ajax callback function on select change event for ingredients
            var ingredient_families_callback = function () {
                let url = $("#recipeIngredientForm").attr("data-ingredients-url");
                let ingredientFamilyId = $(this).val();

                $("#id_unit_measure").empty().html('<option value="">---------</option>');

                $.ajax({
                    url: url,
                    data: {
                        'ingredient_family': ingredientFamilyId,
                        'recipe': {{ recipe.id }}
                    },
                    success: function (data) {
                        $("#id_ingredient").html(data);
                    }
                });
            };

            $("#id_ingredient_families").change(ingredient_families_callback);
            $("#id_ingredient").change(ingredient_units_callback);

        });

    </script>

{% endblock %}