{% extends 'recipes/base.html' %}

{% load staticfiles %}
{% load bootstrap4 %}

{% block stylesheets %}
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/dropzone.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/basic.min.css" %}">
{% endblock %}

{% block title %}
    {{ recipe.title }}
{% endblock %}

{% block content %}
    {%  for img in recipe.images.all %}
        {{ img.recipe }}
        {{ img.image }}
    {% endfor %}
    <h2>Manage recipe : {{ recipe.title }}</h2>

    <hr/>

    <!-- Part 1 : Management of ingredients recipe-->
    <div>

        <h4>Manage ingredients</h4>

        <h6>Your ingredients list</h6>

    </div>

    <hr/>

    <!-- Part 2 : Management of medias recipe-->
    <div>

        <h4>Manage medias of recipe</h4>

        <form id="dz" method="post" enctype="multipart/form-data" class="dropzone">
            {% csrf_token %}
            <div class="fallback">
                {{ form }}
            </div>
        </form>
        {% buttons %}
            <button type="submit" id="submit-all" class="btn btn-primary">Submit</button>
        {% endbuttons %}
    </div>

    <hr/>

    <!-- Part 3 : Management of steps recipe-->
    <div>

        <h4>Manage steps</h4>

        <h6>Your different steps</h6>

    </div>
{% endblock %}

{% block javascripts %}

    <script type="text/javascript" src="{% static "js/dropzone.js" %}"></script>

    <script type="text/javascript">
        Dropzone.autoDiscover = false;
        var myDropzone = new Dropzone("form#dz", {
            maxFiles: 5,
            paramName:'file',
            uploadMultiple: true,
            autoProcessQueue: false,
            addRemoveLinks: true,
            url: "{% url "recipes:recipe-media-upload" recipe.id  %}",

            init: function () {
                var submitButton = document.querySelector("#submit-all")
                myDropzone = this;
                {% for img in recipe.images.all %}
                    var mockFile = { name: "{{ img.image }}", size: {{ img.image.size }} };
                    myDropzone.options.addedfile.call(myDropzone, mockFile);
                    myDropzone.options.thumbnail.call(myDropzone, mockFile, "{% url 'recipes:home' %}{{ img.image }}");
                {% endfor %}
                submitButton.addEventListener("click", function () {
                    myDropzone.processQueue();
                });
                this.on("success", function (file,serverResponse) {

                  //  var fileuploded = file.previewElement.querySelector("[data-dz-name]");
                  //  fileuploded.innerHTML = serverResponse.newfilename;

                });
            },

            removedfile: function(file){
                var name = file.name;
                $.ajax({
                url: "{% url "recipes:recipe-media-delete" recipe.id  %}",
                data: "img="+name,
                dataType: 'json'
                });
                var _ref;
                return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;
            }
        });

    </script>

{% endblock %}